
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  *{
    background-color: aqua;
  }

  nav{
    background-color: brown;
    display: flex;
    justify-content: space-around;
   align-items: center;
   height: 140px;
    

  }
  body{
    background-color: #a5582a38 ;
    color:brown ;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }